@model Trip
@{
    ViewBag.Title = "Page2";
}
<h4>Add Info for @Model.AccName</h4>
<a class="btn btn-dark" asp-action="Index" asp-route-id="Page3">Next</a>
<a class="btn btn-light" asp-action="Index" asp-route-id="Index">Cancel</a>