@model TripListViewModel
@{
    ViewBag.Title = "Add Trip - Page 2";
    ViewBag.Subheader = $"Add Info for {Model.Trip.AccName}";
}
<form asp-action="Add">
    <input type="hidden" asp-for="PageNum" />
    <div class="form-group">
        <label asp-for="Trip.AccPhone">Phone Number</label>
        <input asp-for="Trip.AccPhone" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Trip.AccEmail">Email</label>
        <input asp-for="Trip.AccEmail" class="form-control" />
    </div>
    <div>
        <button type="submit" class="btn btn-dark">Next</button>
        <a asp-action="Cancel" class="btn btn-outline-dark">Cancel</a>
    </div>
</form>
