@model Trip
@{
    ViewBag.Title = "Page3";
}
<h4>Add Things To Do In @Model.Destination</h4>

<a class="btn btn-dark" asp-action="Index" asp-route-id="Page3">Save</a>
<a class="btn btn-light" asp-action="Index" asp-route-id="Index">Cancel</a>